#skarb{
    min-height: 900px;
    background-color: rgb(196, 223, 202);
}
.sezons{
    background-color: rgb(224, 224, 224);
    border-radius: 15px;
}
.new-sezon-form{
    background-color: #78C2AD;
    border-radius: 7px;
    max-width: 400px;
}
.new-sezon-label{
    color: #5a5a5a;
    font-size:25px !important;
}
.new-sezon-input{
    font-size: 1.25rem !important;
}
